{% extends 'footer_header_base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>Reset Complete</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/passw_reset_complete.css' %}"/>
{% endblock css %}

{% block mid %}
<div id="main" class="colM">
    <div id="reset">
        <h1>Password reset complete</h1>

        <h3>Your password has been set. You may go ahead and log in now.</h3>

        <div class="link">
            <a href="{% url 'member_login' %}">Login</a>
        </div>

    </div>

</div>
{% endblock mid %}
