<!--<!DOCTYPE html>-->
{% extends 'footer_header_base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>Reset Password Sent</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/passw_reset_sent.css' %}"/>
{% endblock css %}


{% block mid %}

<div id="main" class="colM">
    <div id="reset">
        <div id="title">
            <h1>Password reset sent</h1>
        </div>
        <div id="sent-text">
            <h4>

                We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered.
                You should receive them shortly.
                <br> <br>

                If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                check your spam folder.
            </h4>

        </div>

    </div>

</div>
{% endblock mid %}

<!--<footer>-->

<!--</footer>-->
<!--</body>-->
<!--</html>-->