{% extends 'footer_header_base.html' %}
{% load widget_tweaks %}

{% load static %}

{% block title %}
<title>Reset Password</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/passw_reset.css' %}"/>
{% endblock css %}

{% block mid%}
<div id="main" class="colM">
    <div id="reset">
        <h1>Password reset</h1>

        <p>Forgotten your password? <br>Enter your email address below, and we’ll email instructions for setting a new
            one.</p>

        <form method="post">
            {% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">

                    <label>{{ form.email.label }} Address: </label>
                    {% render_field form.email id='email' placeholder="Email" class="form-control input-line" %}
                </div>
                <div id="button">
                    <input type="submit" value="Reset my password">
                </div>
            </fieldset>
        </form>

    </div>

</div>
{% endblock mid %}
