{% extends 'footer_header_base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    <title>New Password</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/passw_reset_confirm.css' %}"/>
{% endblock css %}


{% block mid %}

    <div id="main" class="colM">
        <div id="reset">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <section id="messages">
                        <strong>{{ error|escape }}</strong>
                        </section>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <h1>Enter new password</h1>

            <p>Please enter your new password twice, so we can verify you typed it in correctly.</p>

            <form method="post">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-email">
                        <label>{{ form.new_password1.label }}:</label>
                        {% render_field form.new_password1 id='password1' placeholder="New Password" class="form-controlinput-line" %}
                    </div>

                    <div class="form-row field-email">
                        <label> Confirm password:</label>
                        {% render_field form.new_password2 id='password2' placeholder="Confirm New Password" class="form-control input-line" %}
                    </div>
                    <div id="button">
                        <input type="submit" value="Change my password">
                    </div>
                </fieldset>
            </form>

        </div>

    </div>
{% endblock mid %}

