<!DOCTYPE html>
{% load static %}
{% load common_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'footer_header_base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block  css %}
    {% endblock %}

    {% block title %}
        <title>{{ page_title }}</title>
    {% endblock %}
</head>
<body>
{% block header %}
    <section id="header">
        <nav class="nav">
            <div class="nav__title">
                <a {% if user.is_authenticated %}
                    href="{% url 'catalog_member' %}"
                {% else %} href="{% url 'catalog_user' %}
                {% endif %}">
                    <img class='icon' src="{% static 'image/drugstore.png' %}" alt="DRUGSTORE"/>
                </a>
            </div>
            <ul class="nav__list">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li class="nav__item">
                            <a href="{% url 'su-home' %}">SuperUser</a>
                        </li>
                    {% endif %}
                    {% if request.user|has_group:'Item Admin' or request.user.is_superuser %}
                        <!-- If shows error on : , don't mind it -->
                        <li class="nav__item">
                            <a href="{% url 'admin_item_page' %}">Item Admin</a>
                        </li>
                    {% endif %}

                    {% if request.user|has_group:'User Admin' or request.user.is_superuser %}
                        <li class="nav__item">
                            <a href="{% url 'member_manager' %}"> User Admin</a>
                        </li>
                    {% endif %}

                    {% if request.user.is_staff is False %}
                        <li class="nav__item">
                            <a href="{% url 'catalog_user_items' %}">My Items</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'member_profile' %}">Profile</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'messages_inbox' %}">Inbox</a>
                            <span class="badge badge-light">
                                {%  if  request.user|nb_notif != 0 %}
                                {{ request.user|nb_notif }}
                                    {% endif %}</span>
                        </li>
                    {% endif %}
                    <li class="nav__item">
                        <a href="{% url 'member_logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav__item">
                        <a href="{% url 'member_login' %}">Login</a>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'member_signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </section>

{% endblock %}

{% block mid %}

{% endblock %}


{% block footer %}
    <section id="footer">
        <span>
            <a target="_blank" href="https://gitlab.com/davitvoski">
                <h3>Davit Voskerchyan - 2034100</h3>
            </a>
        </span>
        <span>
            <a target="_blank" href="https://gitlab.com/vinhdath">
                <h3>Vinh Dat Hoang - 0720203 </h3>
            </a>
        </span>
        <span>
            <a target="_blank" href="https://gitlab.com/ChristHuProGmr">
                <h3>Christopher Hu - 1435688 </h3>
            </a>
        </span>
        <span>
            <a target="_blank" href="https://choosealicense.com/licenses/gpl-3.0/">
                <h3> &copy 2022 </h3>
            </a>
        </span>
    </section>
{% endblock %}
</body>