

html, body{
    width:100%;
    height:100%;
    background-color: #F1F1EF;
    color: #50556d;

}

#box{
    margin-left: 10%;
    margin-right: 5%;
}


#searchBtn{
    background-color: #e49b32;
    color:white;
    
}

img{
    width: 100px;
    height: 100px;
}

span.colorName{
    color: #e49b32;
}

table{
    border-spacing: 50px 0;
    border-top: gray solid 1px;
    margin-bottom: 50px;
}

#form{
    display:flex;
    flex-direction: column;
   
    margin-left: 5px;
    margin-top: 15px;
}

#searchBar{
    width: 200px;    
}

#formInputs, #formBtn{
   
    margin-left: 5px;
    margin-bottom:  5px;
   
}

#formBtn{
    display:flex;
    flex-direction: column;
    width: 80px;
  
}

h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
}