html, body{
    width:100%;
    height:100%;
    background-color: #F1F1EF;
    color: #50556d;
}


div#info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

   
}


div#left-info{
    display: flex;
    flex-direction: row;
    width: 400px;
    
}

div#likes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#backBtn{
    width: 150px;
}


img{
    width: 100px;
    height: 100px;
}

div#report{
padding-left: 9px;

}

h4,h2{
    margin: 3px;
}

div#comments{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 10px;
    border-top: black solid 1px;
    height: 120px;
}

#commentsForm{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  
}

#btnComment, input.submitBtn{
    margin-top: 5px;
    margin-bottom: 20px;
    width: 120px;

    color:#F1F1EF;
    background-color: #66ab6a;

}

#reportBtn{
    margin-top: 5px;
    margin-bottom: 20px;
    width: 120px;

    color:#F1F1EF;
    background-color: #f44336;
}
div#layout{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    
}



div#starBtn{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width:150px;
}

div.user{
    display: flex;
    flex-direction: row;
    background-color: rgb(239, 239, 255);
  
    
}

div#commentsTable{
    display: flex;
    flex-direction: column;
    display: block;
    overflow: auto;
}
div.commentsBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border: rgb(144,238,144) solid 3px;
}

div.userComments{
    margin-left: 20px;
    height: 80px;
}