html,body{
    width:100%;
    height:100%;
    background-color: #F1F1EF;

}
form{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 10%;
    height: 500px;
    justify-content: space-between;
    color: #50556d;
    margin-top: 50px;

}

h1{
    margin: 20px;
    margin-left: 18%;
    color: #50556d;

}

button{
    width: 20%;
    margin-bottom: 20px;
}

#backBtn{
    margin-left: 20%;
    margin-bottom: 50px;
}
