html,body{
    width:100%;
    height:100%;
    color: #50556d;
    background-color: #F1F1EF;
}


#layout{
    margin-left: 17%;
}

#body{
    margin-top: 15%;
    border-top: gray solid 0.5px;
}

#backBtn{
    margin-top: 10px;
    margin-left: 17%;
    margin-bottom: 50px;
    width: 200px;
}


