.table{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 5px;
  border: solid 2px #0000FF;
  border-radius: 10px;
  background-color: #3057b580;
  margin-top: 1em;
  margin-bottom: 1em;
}

.head {
    color: cornsilk;
    border-bottom: solid #ff959fad  3px;
    text-align: center;
}

.row:nth-child(8n+1),
.row:nth-child(8n+2),
.row:nth-child(8n+3),
.row:nth-child(8n+4){
    background-color: #3057b580;
    color: ghostwhite;
}

.row {
    background-color: aliceblue;
    color: darkslateblue;
}

.actor {
    border-right: dotted black 2px;
    text-align: center;
}

.subject {
    text-align: center;
}

.action {
    border-right: dotted black 2px;
}

.timestamp {
    text-align: right;
}