* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background: #0B2559;
}

#header {
    height: 20%;
    background: #0B2559;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#footer {
    height: 10%;
    background: #0B2559;
}
/*#0B2559 */
.main {
    height: 70%;
    background: #0B2559;
    display: flex;
    align-items: center;
    justify-content: center;
}


.edit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 94%;
    max-width: 30%;
    min-width: 50%;
    /*background: red;*/
    overflow: hidden;
    background: #06c;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #5CBC46;
    overflow-y: auto;
}


#edit-title label {
    font-weight: 200;
    margin-top: 75px;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
}


label {
    color: #0B2559;
    opacity: 1;
    font-size: 1em;
    justify-content: center;
}

#avatar input {
    height: 2em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    height: 78%;
}

.form-control { /*  Input */
    height: 1.5em;
    background: #e0dede;
    border: none;
    outline: none;
    border-radius: 5px;
}

::placeholder {
    color: #0B2559;
    opacity: 1;
}

.form-data {
    padding: 0.1rem;
    background-color: rgba(58, 53, 77, 0.4);
    margin: 0.1rem 0rem 0rem 0.1rem;
}


fieldset {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.form-control {
    display: flex;
    width: 50%;
    color: #0B2559;

}

.form-group {
    display: flex;
    justify-content: center;
    width: 100%;

}

#avatar {
    color: white;
    margin-left: 1.2em;
}

#avatar:hover {
    color: #abdbab;
    outline: none;
}

#avatar label {
    margin-left: 0.3em;
}

#avatar input {
    margin-left: 0.3em;
}

input {
    border: none;
    color: #0B2559;
    font-weight: bolder;
}

.signup-button-div {
    display: flex;
    justify-content: center;
    height: 5%;
}

#signup-btn {
    height: 100%;
    padding: 4px;
}

#signup-btn:hover {
    outline: none;
    color: navajowhite;
    background: black;
}

.input-line {
    background: none;
    margin-bottom: 0.1em;
    line-height: 0.3em;
    color: navajowhite;
    font-weight: 300;
    font-size: 1.15rem;
    width: 75%;
    min-width: 4em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.input-line:focus {
    outline: none;
    border-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

form ul.errorlist {
    list-style-type: none;
    font-size: 0.8em;
    color: #f0aafe;
    font-weight: bold;
    background: darkred;
}

.error {
    background: red;
}

.success {
    background: forestgreen;
}

#messages {
    display: block;
    font-weight: 400;
    font-size: 1em;
    padding: 10px 10px 10px 65px;
    margin: 2px;
    background: url(../images/larvybvt.bmp) 2em no-repeat;
    background-size: 16px auto;
}

