* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background: #0B2559;
}

#header {
    height: 20%;
    background: #0B2559;
}

#footer {
    background: #0B2559;
    height: 10%;
}

#cont_projects {
    padding: 0.2em;
    height: 70%;
    background: #5f9ea0;
    display: flex;
    flex-direction: column;
    /*margin-top: auto;*/
}

#cont_projects {
    display: flex;
    justify-content: flex-end;
    background: #0B2559;
    /*background-image: linear-gradient(120deg, rgba(235, 25, 110, 4) 60%, rgba(235, 55, 140, 4) 75%);*/
    font-family: 'Baloo Paaji 2', cursive;
}

#admin-actions {
    height: 15rem;
    width: 65%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#admin-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.5%;
    color: white;
    background: #272133;
    text-align: center;
    height: 2em;
}

#members-info {
    display: flex;
    flex-direction: column;
}


.one-user {
    display: flex;
    margin: 5px;
}

form {
    display: flex;
    flex-display: column;
}

.one-user-info {
    display: flex;
    justify-content: space-evenly;

}

#members-info-table {
    overflow: auto;
}


#all-cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.card {
    margin: auto;
    background-color: #222831;
    height: 31rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 20px 50px #5CBC46;
    color: white;
}

.card__name {
    margin-top: 5px;
    font-size: 1.4em;
}

.card__image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
}

.draw-border {
    box-shadow: inset 0 0 0 4px #58cdd1;
    color: #58afd1;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0rem;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #ffe593;
}

a:hover {
    color: #ffe593;
}

a {
    text-decoration: none;
    color: #58afd1;
}

.current {
    color: #58afd1;

}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #eb196e;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    font: 700 1rem 'Roboto Slab', sans-serif;
    padding: 0.75em 2em;
    letter-spacing: 0.05rem;
    margin: 0.2em;
    width: 12rem;
}

.btn:focus {
    outline: 2px dotted #55d7dc;
}

.social-icons {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    margin: 1em;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
    border: 5px solid #272133;
    outline: 2px solid #55d7dc;
    max-width: 350px;
    word-wrap: break-word;
}

/* Search Bar */
#search-filter {
    display: flex;
    flex-direction: column;
}

#search-form {
    display: flex;
    flex-direction: column;
}

