* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background: #0B2559;
}

#header {
    height: 20%;
    background: #0B2559;
}

#footer {
    height: 20%;
    background: #0B2559;

}

#main {
    height: 60%;
    width: 100%;
    background: #0B2559;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    justify-content: space-evenly;
    align-items: center;
    color: #1A2E39;
}


#reset {
    color: #0B2559;
    border-radius: 10px;
    height: 80%;
    width: 40%;
    min-width: 40%;
    background: #06c;
    box-shadow: 10px 20px 50px 20px #5CBC46;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

#sent-text {
    display: flex;
    margin-top: 3rem;
    width: 80%;

}

#sent-text h4 {
    display: flex;
    resize: both;
    color: #0B2559;
    font-weight: bold;
}

#reset p {
    text-align: center;
    color: #0B2559;
    font-weight: bold;
}
