* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#header {
    height: 20%;
}

#footer {
    height: 10%;
}

h3 {
    font-size: 25px;
}

#profile {
    min-height: 70%;
    width: 100%;
    height: auto;
    display: flex;
    background-size: 100% 100%;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    font-size: 23px;
    color: #3C88A6;
}

.profile-pic {
    border-radius: 20%;
    width: 18em;
    box-shadow: 5px 20px 50px black;
}

.imageProfile {
    height: 60%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #5CBC46;
}

.imageProfile-info {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info {
    border-radius: 10px;
    height: 50%;
    width: 40%;
    box-shadow: 5px 20px 50px #5CBC46;
    display: flex;
    flex-direction: column;
    background: #C1D4D9;
}

hr {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.label-card {
    display: flex;
}

.info-card {
    color: black;
    background: #C1D4D9;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button a {
    text-decoration: none;
    color: #0B2559;
}

button {
    width: 6em;
    height: 2em;
}

#message-wrapper {
    background: forestgreen;
}

#messages {
    display: block;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: url(../images/larvybvt.bmp) 5em no-repeat;
    background-size: 16px auto;
}

/* Button Hover link */
button:hover {
    outline: none;
    background: black;
}

button a:hover {
    color: navajowhite;

}