{% extends 'footer_header_base.html' %}
{% load static %}
{% load widget_tweaks %}


    {% block title %}
    <title>Login</title>
    {% endblock %}
{% block  css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock css %}

{% block mid %}
<div class="main">
    <div class="login-section">
        <div id="login-title">
            <label aria-hidden="true" class="">Login</label>
        </div>

        <form method="POST" id="login-form">
            {% csrf_token %}
            <fieldset id="registration-form" class="form-fieldset">
                <div class="form-group">
                    {% render_field form.username placeholder="Enter Username" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field form.password id='password' placeholder="Enter Password" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    <div id="message">
                        {{ reg_form.username.errors }}
                        {{ reg_form.password1.errors }}
                        {{ reg_form.password2.errors }}

                        {% for msg in messages %}
                        <div id="message-wrapper" class={{ msg.tags }}>

                            <div id="messages">
                                <a href = "mailto: djangodawson@gmail.com">{{ msg }}</a>
                            </div>
                        </div>
                        {% endfor %}

                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}

                        <strong>{{ error|escape }}</strong>
                        {% endfor %}
                        {% endfor %}
                        {% endif %}

                    </div>
                </div>
                <div class="login-button-div">
                    <input type="submit" value="  LOGIN " id="login-btn"/>
                </div>
            </fieldset>


        </form>
        <div class="links">
            <a href="{% url 'reset_password' %}">Forgot Password?</a>
            <div>
                Not a member: <a data-toggle="tab" href="{% url 'member_signup' %}">Sign Up?</a>
            </div>
        </div>
    </div>
</div>
{% endblock mid %}