{% extends 'footer_header_base.html' %}
{% load static %}
>
{% block title %}
    <title> User Manager </title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/manager.css' %}">
{% endblock css %}


{% block mid %}
    <section id="cont_projects">
        <section id="admin-actions">
            <button type="submit" class="draw-border" name="addMember" id="addMember">
                <a href="{% url 'member_signup' %}">Add Member </a>
            </button>

            <div id="message-wrapper">

                <div id="messages">
                    {{ msg }}
                </div>
            </div>
            {% if no_users is True %}
                <h1> NO USERS FOUND </h1>
            {% endif %}
        </section>

        <div id="all-cards">

            {% for member in all_members_page %}
                {% if member.user.is_staff is True %}

                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card">
                            {% if member.user_pic is None or member.user_pic == '' %}
                                <img src="../../static/images/noimage.bmp" alt="Profile pic" class="card__image">
                            {% else %}
                                <img src="{{ member.user_pic.url }}" alt="Profile Pic" class="card__image">
                            {% endif %}


                            <ul class="social-icons">
                                <li>{{ member.user.username }}</li>
                                <li>{{ member.user.email }}</li>
                                <li>{{ member.address }}</li>
                            </ul>
                            <input value="DELETE"
                                   class="btn draw-border"
                                   onclick="return confirm('Are you sure do you want to delete {{ member.user.username }}')"
                                   formaction="{% url 'user_admin_member_delete' member.user.id %}"
                                   type="submit"/>
                            {% if member.is_blocked is False %}
                                <input value="BLOCK"
                                       class="btn draw-border"
                                       name="member_block"
                                       onclick="return confirm('Are you sure do you want to BLOCK {{ member.user.username }}')"
                                       type="submit"
                                       formaction="{% url 'user_admin_member_block' member.id %}"/>

                                <input value="WARN"
                                       class="btn draw-border"
                                       name="member_warn"
                                       onclick="return confirm('Are you sure do you want to WARN {{ member.user.username }}')"
                                       formaction="{% url 'user_admin_member_warn' member.id %}"
                                       type="submit"/>
                            {% else %}
                                <input value="UNBLOCK"
                                       class="btn draw-border"
                                       name="member_unblock"
                                       onclick="return confirm('Are you sure do you want to UNBLOCK {{ member.user.username }}')"
                                       type="submit"
                                       formaction="{% url 'user_admin_member_block' member.id %}"/>
                            {% endif %}

                            <input value="Edit Profile"
                                   class="btn draw-border"
                                   onclick="location.href = '{% url 'user_admin_member_edit_profile' member.user.id %}'"
                                   type="button"/>
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
            <span class="pagination">
                <span class="step-links">
                    {% if all_members_page.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ all_members_page.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ all_members_page.number }} of {{ all_members_page.paginator.num_pages }}.
                    </span>

                    {% if all_members_page.has_next %}
                        <a href="?page={{ all_members_page.next_page_number }}">next</a>
                        <a href="?page={{ all_members_page.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
                <span id="search-filter">
                    <form id="search-form" action="{% url 'user_admin_member_search' %}">
                        <input type="search" value="" name="search-username" placeholder="Search Username">
                        <input type="submit" value="Search">
                    </form>
                </span>
            </span>

        </div>
    </section>
{% endblock mid %}
