{% extends 'footer_header_base.html' %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profileStyle.css' %}"/>
{% endblock css %}



{% block mid %}
    <div id="profile">
        <div class="imageProfile">

            {% for msg in messages %}
                <div id="message-wrapper">

                    <div id="messages">
                        {{ msg }}
                    </div>
                </div>
            {% endfor %}
            <div class="imageProfile-info">
                <!-- This if statement is a protection if any errors with image uploading happens website won't crash.-->
                {% if member.user_pic is None or member.user_pic == '' %}
                    <img src="../../static/images/noimage.png" alt="No Image" class="rounded-circle profile-pic">
                {% else %}
                    <img src="{{ member.user_pic.url }}" alt="Profile Pic" class="rounded-circle profile-pic">
                {% endif %}
            </div>
        </div>

        <div class="profile-info ">
            <div class="full-name info-card">
            <span id="name-label">
                <h3> <u> Full Name  </u></h3>
            </span>
                <span class="info name-Text"> {{ member.full_name }}</span>
            </div>
            <hr>
            <div class="email  info-card">
            <span class="label-card">
                <h3> <u>Email</u></h3>
            </span>
                <span class="info email-Text"> {{ user.email }}</span>
            </div>
            <hr>

            <div class="phone-number info-card">
            <span class="label-card">
                <h3> <u>Phone</u></h3>
            </span>
                <span class="info phone-number-text"> {{ member.phone_number }}</span>
            </div>
            <hr>

            <div class="address info-card">
            <span class="label-card address-label">
                <h3> <u>Address</u></h3>
            </span>
                <address class="info address-text"> {{ member.address }}</address>
            </div>
            <hr>

            <div class="profile-buttons info-card">
            <span>

                <button type="button">
                    <a data-toggle="tab" href="{% url 'member_profile_edit' %}"> Edit Profile </a>
                </button>
            </span>
            </div>

        </div>
    </div>
{% endblock mid %}

<!--<footer>-->

<!--</footer>-->
<!--</body>-->
<!--</html>-->