{% extends 'footer_header_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load common_extras %}

{% block title %}
<title>Sign Up</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}"/>
<script src="{% static 'js/signup.js' %}" defer></script>

{% endblock css %}



{% block mid %}
<div class="main">
    <div class="signup-section">
        <div id="signup-title">
            {% if request.user|has_group:'User Admin' or request.user|has_group:'SuperUser'  %}
                <label aria-hidden="true" class="">Add Member</label>
            {% else %}
                <label aria-hidden="true" class="">Sign Up</label>
            {% endif %}
        </div>

        <form method="POST" id="signup-form" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset id="registration-form" class="form-fieldset">
                <div class="form-group">
                    {% render_field reg_form.username placeholder="Username" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field reg_form.email id='email' placeholder="Email" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field reg_form.first_name id='fname' placeholder="First Name" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field reg_form.last_name id='lname' placeholder="Last Name" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field reg_form.password1 placeholder="Password" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field reg_form.password2 placeholder="Confirm Password" class="form-control input-line" %}
                </div>

                <div class="form-group">
                    {% render_field member_form.phone_number id='phone' placeholder="Enter Mobile Phone: xxx-xxx-xxxx" class="form-control input-line"%}
                </div>

                <div class="form-group">
                    {% render_field member_form.street placeholder="Address Street" class="form-control input-line" %}
                </div>

                <div class="form-group">
                    {% render_field member_form.city placeholder="Address City" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field member_form.state placeholder="Address State" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field member_form.zip_code placeholder="Address Zip Code" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field member_form.country placeholder="Address Country" class="form-control input-line" %}
                </div>


                <div class="form-group">
                    <div id="message">
                        {{ reg_form.username.errors }}
                        {{ reg_form.password1.errors }}
                        {{ reg_form.password2.errors }}
                        {% for msg in messages %}
                        <div id="message-wrapper">

                            <div id="messages">
                                {{ msg }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </fieldset>
            <div id="avatar" class="form-group">
                <label> Profile Picture: </label>
                {% render_field member_form.user_pic id="profile-chooser" %}
            </div>

            <div class="signup-button-div">
                <input type="submit" value=" Sign UP " id="signup-btn" disabled/>
            </div>

        </form>
    </div>
</div>
{% endblock mid %}