<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Delete {{ user.username }}</title>
</head>
<body>
  <form method="post">
      {% csrf_token %}



<p>Are you sure you want to delete "{{ object }}"?</p>



    <input type="submit" value="Confirm">
</form>
</body>
</html>