<!DOCTYPE html>
{% extends 'footer_header_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Edit Profile</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit-profile.css' %}"/>
{% endblock css %}

{% block mid %}
<div class="main">
    <div class="edit-section">
        <div id="edit-title">
            <label aria-hidden="true" class="">User Admin - Edit Member</label>
        </div>

        <form action='' method="POST" id="signup-form" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset id="registration-form" class="form-fieldset">
                <div class="form-group">
                    {% render_field edit_form.username|append_attr:"readonly:readonly" placeholder="Username" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field edit_form.email id='email' placeholder="Email" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field edit_form.first_name id='fname' placeholder="First Name" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field edit_form.last_name id='lname' placeholder="Last Name" class="form-control input-line" %}
                </div>

                <div class="form-group">
                    {% render_field member_form.phone_number id='phone' placeholder="Enter Mobile Phone: xxx-xxx-xxxx" class="form-control input-line"%}
                </div>

                <div class="form-group">
                    {% render_field member_form.street placeholder="Address Street" class="form-control input-line" %}
                </div>

                <div class="form-group">
                    {% render_field member_form.city placeholder="Address City" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field member_form.state placeholder="Address State" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field member_form.zip_code placeholder="Address Zip Code: H1R 1N7" class="form-control input-line" %}
                </div>
                <div class="form-group">
                    {% render_field member_form.country placeholder="Address Country" class="form-control input-line" %}
                </div>


                <div class="form-group">
                    <div id="message">
                        {{ edit_form.username.errors }}
                        {{ edit_form.password1.errors }}
                        {{ edit_form.password2.errors }}
                        {% for msg in messages %}
                        <div id="{{  msg.tags }}" class="message-wrapper">

                            <div id="messages">
                                {{ msg }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </fieldset>
            <div id="avatar" class="form-group">
                <label> Profile Picture: </label>
                {% render_field member_form.user_pic id="profile-chooser" %}
            </div>

            <div class="signup-button-div">
                <input type="submit" value=" Save Edits " id="signup-btn"/>
            </div>

        </form>
    </div>
</div>
{% endblock mid %}