<!DOCTYPE html>
{% extends 'footer_header_base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
     {% block title %}
    <title>AddItemPage</title>
    {% endblock %}
    {% block  css %}
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="{% static 'style\css\stylePage.css' %}"/>
    {% endblock %}
</head>
<body>
    {% block mid %}
    <h1>Post Item</h1>
    <fieldset>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}

            <button type="submit" id="saveBtn"> Save</button>
        </form>
         <a href="{% url 'catalog_member' %}"><button id="backBtn">Back to member catalog</button></a>
    </fieldset>
    {% endblock %}
</body>
</html>