<!DOCTYPE html>
{% extends 'footer_header_base.html' %}
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  {% block title %}
  <title>Catalog</title>
  {% endblock %}
  {% block css %}
   <link rel="shortcut icon" href="#">
  <link rel="stylesheet" type="text/css" href="{% static 'style\css\catalogAdmin.css' %}"/>
  <script src="{% static 'style\js\catalog.js' %}"></script>
  {% endblock %}
</head>

<body>
{% block mid %}
  <div id="box">


    <div id="mainBody">
      <h1>Item Admin Catalog Page ( {{ user.username }} )</h1>
      <table>
        {% for item in object_list %}
        <tr>
          <td>
              <img src="{{ item.snapshot.url }}" alt="image" class="images">
          </td>
           <td>
             {{ item.name }}
          </td>
          <td>
            Owner: <span class="colorName">{{ item.owner.user.username }}</span>
          </td>
          <td>
            Description: {{ item.description|truncatechars:10  }}
          </td>
          <td>
            Price: {{ item.price }}
          </td>
          <td>
            Likes: {{ item.likes }}
          </td>
            <td>
            Type: {{ item.type }}
          </td>

           <td>
           {% if item.flag == True %}

              Flag by Admin: {{ item.flag }}

            {% endif %}
           </td>

            <td>
            {% if item.report == True %}

              Report by Member: {{ item.report }}

            {% endif %}
             </td>
            <td>
               <a href="{% url 'admin_edit_page' item.id %}"><button class="editBtn">Edit</button> </a>

              <a href="{% url 'admin_delete_page' item.id %}"><button class="deleteBtn">Delete</button> </a>
            </td>
        </tr>
        {% endfor %}

      </table>
    </div>

     <!-- add pagination code here -->
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>

          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>

  </div>
{% endblock mid %}
</body>

</html>