<!DOCTYPE html>
{% extends 'footer_header_base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>DeleteCommentPage</title>
     {% endblock %}
     {% block css %}
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="{% static 'style\css\deleteAPage.css' %}"/>
     {% endblock %}
</head>
<body>
    {% block mid %}
    <fieldset>

        <form method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete this item: {{ object.name }}?</p>
            <button type="submit" id="confirmBtn"> Confirm </button>

       </form>
        <a href="{% url 'admin_item_page' %}"><button id="backBtn">Back to Admin item page</button></a>

    </fieldset>
  {% endblock %}
</body>
</html>