<!DOCTYPE html>
{% extends 'footer_header_base.html' %}
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  {% block title %}
  <title>Catalog</title>
  {% endblock %}
  {% block css %}
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" type="text/css" href="{% static 'style\css\catalogUser.css' %}"/>
  <script src="{% static 'style\js\catalog.js' %}"></script>
  {% endblock %}
</head>

<body>

{% block mid %}
<section>
  <div id="box">
    <div id="topBody">
      <form id="form" method="POST">
        {% csrf_token %}
        <div id="formInputs">
          <input id="searchBar" type="text" name="searchBar" value="Search bar">

          <div id="filter">
            <label>Filter By:</label>

            <select id="filterMenu" name="menu">
              <option value="all">All</option>
              <option value="name">Name</option>
              <option value="description">Description</option>
              <option value="type">Type</option>
              <option value="likes">Likes</option>
            </select>
          </div>
        </div>

        <div id="formBtn">
          <input id="searchBtn" type="submit" name="searchItem" value="Search">
        </div>
      </form>
    </div>
    <br><br>

    <div id="mainBody">
      <h1> Catalog Page</h1>
      <table>
        {% for item in object_list %}
        <tr>
          <td>
              <img src="{{ item.snapshot.url }}" alt="image" class="images">
          </td>
           <td>
             {{ item.name }}
          </td>
          <td>
            Owner: <span class="colorName">{{ item.owner.user.username }}</span>
          </td>
          <td>
            Description: {{ item.description|truncatechars:10  }}
          </td>
          <td>
            Price: {{ item.price }}
          </td>
          <td>
            Likes: {{ item.likes }}
          </td>
            <td>
            Type: {{ item.type }}
          </td>

           {% if item.flag == True %}
            <td>
              Flag by Admin: {{ item.flag }}
            </td>
            {% endif %}
        </tr>
        {% endfor %}

      </table>
    </div>

     <!-- add pagination code here -->
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>

          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>

  </div>
</section>
{% endblock %}

</body>

</html>