<!DOCTYPE html>
{% extends 'footer_header_base.html' %}
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
     {% block title %}
    <title>Detail Page</title>
    {% endblock %}
    {% block  css %}
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'style\css\detailPage.css' %}">
     {% endblock %}
</head>

<body>
    {% block mid %}
    <div id="layout">
        <div id="info">
            <div id="left-info">
                <img src="{{ object.snapshot.url }}" alt="image" class="images">

                <div id="description">

                    <h2>{{ object.name }}</h2>
                    <h4>Product Owner: <span id="colorName">{{ object.owner.user.username }}</span></h4>
                    <h4>Tpye: {{ object.type }}</h4>
                    <h4>Pice: {{ object.price }}</h4>
                    <h4>Description: {{ object.description }}</h4>

                </div>
            </div>
            <div id="LikeFlagBtn">
                <div id="likes">
                    <form  method="POST">
                         {% csrf_token %}
                        <input class="submitBtn" type="submit" name='likes' value='Likes'>
                    </form>
                        <p id="counterLikes">{{ object.likes }}</p>
                </div>
                 <div id="report">
                     <form method="POST">
                         {% csrf_token %}
                        <input id="reportBtn" type="submit" name="report" value="Report">
                         {{ object.report }}
                     </form>

                </div>
            </div>
        </div>
        <div id="starInput">
            <form method="POST">
                 {% csrf_token %}
                <label>Rate: </label>
                <input type="number" max=5 min=1 name="starRate">
                <input class="submitBtn" type="submit" name="rate" value="Submit">
            </form>


        </div>
         <div id="rating">
                <p id="rate">Ratings: {{ object.rating }} </p>

         </div>
               <a href="{% url 'catalog_member' %}"><button id="backBtn">Back to member catalog</button></a>

        <div>
            <span>{{ message }}</span>
        </div>
        <div id="comments">
            <h2>Comments</h2>
            <form id="commentsForm" method="POST" >
                 {% csrf_token %}
                <input id="AddComment" type="text" name="content" value="Enter comments here">
                <input id="btnComment" type="submit" name="addComment" value="Add Comment">
            </form>

        </div>
        <div id="commentsTable">
            <div class="commentsBox">
                 {% for user_of_item in comments %}
                <div class="user">
                    <img src="{% static 'style\image\user2.png' %}">
                    {% load tz %}
                    {% timezone "America/Montreal" %}
                    <p class="username">{{ user_of_item.user }} {{ user_of_item.pub_date }}</p>
                    {% endtimezone %}
                </div>
                <div>
                    {% if user == object.owner.user  or user.is_staff == True %}

                      <a href="{% url 'delete_comment_page' user_of_item.id %}"><button class="deleteBtn">Delete</button> </a>
                    {% endif %}
                </div>

                <div class="userComments">
                    <p>{{ user_of_item.content }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
   </div>
   {% endblock %}
</body>

</html>