<!DOCTYPE html>
{% extends 'footer_header_base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
     {% block title %}
    <title>DeletePage</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style\css\deleteAPage.css' %}"/>
    {% endblock %}
</head>
<body>
    {% block mid %}
    <fieldset>
        <form method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete this item: {{ object.name }}?</p>
            <button type="submit" id="confirmBtn"> Confirm </button>
       </form>
        <a href="{% url 'catalog_member' %}"><button id="backBtn">Back to member catalog</button></a>

    </fieldset>
    {% endblock %}
</body>
</html>