<!DOCTYPE html>
{% extends 'footer_header_base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% block title %}
    <title>MessageContent</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style\css\content.css' %}"/>
    {% endblock %}
</head>
<body>
    {% block mid %}
    <div id="content">
        <h1>Message</h1>
        <div id="to_member">
             To: <span> {{ object.to_member.user.username }} </span>
        </div>
        <div id="from_member">
             From: <span> {{ object.from_member.user.username }} </span>
        </div>
        <div id="subject">
            Subject: <span>{{ object.subject }}</span>
        </div>
         <div id="date">
            {% load tz %}
            {% timezone "America/Montreal" %}
            Date: <span>{{ object.pub_date }}</span>
            {% endtimezone %}
        </div>
        <div>
             <a href="{% url 'content_delete' object.id %}"><button class="deleteBtn">Delete</button> </a>

        </div>
        <div id="body_section">
            <p id="body"> <span> {{ object.body }} </span> </p>
        </div>
            <form method="post">
                 {% csrf_token %}
              <button id="backBtn" type="submit" name="submit">Back to inbox</button>
            </form>
    </div>
   {% endblock mid %}
</body>
</html>