<!DOCTYPE html>
<html lang="en">
{% extends 'footer_header_base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
     {% block title %}
    <title>Inbox</title>
     {% endblock %}
     {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style\css\inbox.css' %}"/>
    <script src="{% static 'style\js\catalog.js' %}"></script>
    {% endblock %}
</head>
<body>
{% block mid %}
<h1>Inbox</h1>

<div id="compose">
    <a href="{% url 'messages' %}"><button id="messgaeBtn">Compose Message</button></a>
     <div>
       <img id="bell" src="{% static 'style\image\bell.png' %}">
       <span>{{ new_message }}</span>
       New messages
  </div>
</div>
<table>
        {% for message in object_list %}
        <tr>
              <td>

                  <img id='image' src="{{ message.from_member.user_pic.url }}" alt="image" class="images">

              </td>
              {% if message.is_read == False %}
              <td class="color_false">
                  {{ message.from_member.user.username }}
              </td>
              <td>
                   <img src="{% static 'style\image\arrow 1.png' %}">

              </td>
              <td>

                     <p class="group">
                         <a href="{% url 'content' message.id %}">  <span class="color_false">{{ message.subject }} </span> </a>


                     </p>

              </td>

              <td class="color_false">
                  {% load tz %}
                  {% timezone "America/Montreal" %}
                  {{ message.pub_date }}
                  {% endtimezone %}
              </td>

              <td>
                <p class="color_false">
                    New Message
                </p>
              </td>
              {% endif %}
              {% if message.is_read == True %}
              <td class="color_true">
               {{ message.from_member.user.username }}
              </td>

                <td>
                   <img src="{% static 'style\image\arrow 1.png' %}">

              </td>
              <td >

                     <p class="group">
                         <a href="{% url 'content' message.id %}">  <span class="color_true"> {{ message.subject }} </span> </a>
                     </p>

              </td>

              <td class="color_true">
                  {% load tz %}
                  {% timezone "America/Montreal" %}
                  {{ message.pub_date }}
                  {% endtimezone %}
              </td>

              <td>
                <p class="color_true">Message Read</p>
              </td>
              {% endif %}

              <td>
                      <a href="{% url 'content_delete' message.id %}"><button class="deleteBtn">Delete</button> </a>
                      <a href="{% url 'edit_message' message.id %}"><button class="editBtn">Edit</button> </a>

              </td>
        </tr>
        {% endfor %}
    </table>
{% endblock mid %}
</body>
</html>