<!DOCTYPE html>
<html lang="en">
{% extends 'footer_header_base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
     {% block title %}
    <title>Messaging</title>
     {% endblock %}
     {% block css %}
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="{% static 'style\css\messaging.css' %}"/>

    {% endblock %}

</head>

<body>
     {% block mid %}
    <div id="main">
        <h2>Compose Message</h2>
         <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                 <label>From member: {{ user }}</label>
                 {{ form.as_p }}

                <input id="send" type="submit" value="Send">
         </form>
        <a href="{% url 'messages_inbox' %}"><button id="cancel" > Cancel</button> </a>
    </div>
    {% endblock mid %}
</body>

</html>