<!DOCTYPE html>
{% extends 'footer_header_base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
      {% block title %}
    <title>EditMessagePage</title>
     {% endblock %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style\css\editPage.css' %}"/>
    {% endblock %}
</head>
<body>
    {% block mid %}
    <h1>Edit Page</h1>
    <fieldset>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
             <label>Subject: {{ object.subject }} </label>
            {{ form.as_p }}
            <button type="submit" >Save</button>
       </form>
            <a href="{% url 'messages_inbox' %}"><button id="backBtn">Back to member inbox</button></a>
    </fieldset>
    {% endblock mid %}
</body>
</html>