<!DOCTYPE html>
{% extends 'footer_header_base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
     {% block title %}
    <title>DeleteMessagePage</title>
     {% endblock %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style\css\DeletePage.css' %}"/>
     {% endblock %}
</head>
<body>
     {% block mid %}
    <fieldset>

    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete this message: {{ object.subject }}?</p>
        <button type="submit" id="confirmBtn"> Confirm </button>
   </form>
        <a href="{% url 'messages_inbox' %}"><button id="backBtn">Back to inbox</button></a>

    </fieldset>
    {% endblock mid %}
</body>
</html>