<!DOCTYPE html>
<html lang="en">
{% extends 'footer_header_base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
     {% block title %}
    <title>Thank You Page </title>
    {% endblock %}
     {% block css %}
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="{% static 'style\css\thankPage.css' %}"/>
     {% endblock %}
</head>
<body>
     {% block mid %}
     <div id="body">
         <div id="layout">
            <h2>Thank you. Your request is successful.</h2>
            <a href="{% url 'messages_inbox' %}"><button id="backBtn">Back to member inbox app</button></a>
         </div>
     </div>
     {% endblock mid %}
</body>
</html>