* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}


body, html {
    width: 100%;
    height: 100%;


}
#header_msg {
    color: white;
    padding-left: 2em;
}

body {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#header {
    height: 20%;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* background-color: red; */
    background: #50556d;
    background: linear-gradient(180deg, #50556d; 3%, #50556d; 3%, #50556d; 87%);
    box-shadow: rgba(40, 40, 70, 0.1) 0px 20px 40px 10px, rgba(0, 0, 0, 0.2) 0px 10px 36px 10px;
    color:white;
}

#header_msg {
    color: white;
    padding-left: 2em;
}

#footer {
    height: 18%;
    background: #50556d;
    background: linear-gradient(0deg, #50556d 3%, #50556d 3%, #50556d 87%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footer {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(40, 40, 80, 0.20) 0px 20px 40px 10px, rgba(0, 0, 0, 0.2) 0px 10px 36px 18px;
    color:#F1F1EF;
}

button{
    color:#F1F1EF;
    background-color: #50556D;
    width: 80px;

}

#footer span h3 {
    color: #C1D4D9;
}

#footer span a {
    text-decoration: none;
}

#footer span h3:hover {
    background: black;
    color: navajowhite;
    transition: background-position-x 0.9s linear;
}

#mid {
    display: flex;
    flex-direction: column;
    background-color: pink;
    height: 80%;
    padding-left: 5em;
}

/* Icon/ Logo */
.icon {
    width: 64px;
    height: 64px;
}

/* Navigation Bar  */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav__title {
    margin: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav .nav__item {
    /*display: inline-block;*/
    margin: 0px 30px;
}

nav ul {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C1D4D9;
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #5CBC46;
}

nav .nav__title {
    width: 125px;
    height: 50px;
    font-size: 22px;
}

nav ul li a {
    font-size: 22px;
    color: black;
    text-decoration: none;
    transition: all 0.45s;

}

nav ul li a:hover {
    color: navajowhite;
    text-decoration: underline overline;
}

/* Notifcation Count */
.badge {
    font-weight: bolder;
    font-size: 1.4em;
    color: red;
    position: relative;
    top: -8px;
    right: -5px;
}