.table{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  margin: 5px;
  border: solid 2px #0000FF;
  border-radius: 10px;
  background-color: #3057b580;
  margin-top: 1em;
  margin-bottom: 1em;

}
.head{
    font-weight: bold;
    text-align: center;
    color: cornsilk;
}
.row{
  padding-bottom: 10px;
  text-align: center;
  background-color: aliceblue;
}
#h0{
    grid-row:1/3;
    background-color: aliceblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
}
#messages{
    color: forest;
    background-color: lime;
    text-align: center;
}
#btn_panel{
    margin: 5px;
    grid-column:1/8;
    display: flex;
    justify-content: space-evenly;
}
#btn_panel button{

  border: none;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  padding: 6px;
  cursor: pointer;
  width: 10em;
}

.reassign_btn{
    background-color: #173284AD;
}

#admin_remove{
    background-color: #7B1616;
}