html, body{
    width:100%;
    height: 100%;
    color: #50556d;
    background-color: #F1F1EF;
}

#content{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;

}
div{
    margin-bottom: 10px;
}


span{

    padding-left: 10px;
}

#body_section{
    border: gray dotted 1px;
    overflow:scroll;
    height: 300px;

}

#body{
    padding: 10px;
}

#backBtn{
    width: 220px;
    margin-bottom: 50px;

}

h1{
    margin-bottom: 20px;
    color: #50556d;
    border-bottom: gray solid 0.5px;


}