html,body{
    width:100%;
    height:100%;
    color: #50556d;
    background-color: #F1F1EF;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 10%;
}

fieldset{
     margin-top: 15%;
}

#backBtn{
    margin-top: 10px;
    margin-left: 20%;
    margin-bottom: 50px;
}


button{
    width: 20%;
}