html,body{
    width:100%;
    height:100%;
    color: #50556d;
    background-color: #F1F1EF;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 10%;
    height: 200px;
    justify-content: space-between;
    color: #50556d;
    padding-top: 50px;

}

h1{
    margin: 20px;
    margin-left: 18%;
    color: #50556d;
}

button{
    width: 200px;
}

#backBtn{
    margin-top: 10px;
    margin-left: 20%;
    margin-bottom: 50px;
    width: 250px;

}
