html, body{
    height:100%;
    width:100%;
    background-color: #F1F1EF;
    color: #50556d;
}

table{
    border-spacing: 50px 0;
    border-top: gray solid 1px;
    margin-top: 30px;
}

h1{
    margin-left: 10px;
}
.color_false{
    color: green;
}

img#bell{
    margin-left: 50px;
    width:30px;
    height:30px;
}

.color_true{
    color: black;
}

a:visited{
    color: black;
}

#messgaeBtn{
 width: 150px;
}
img#image{
    width: 90px;
    height: 90px;
}

div#compose{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

p.group{
    display: flex;
    justify-content: center;
    border-left: gray solid 1px;
    border-right: gray solid 1px;
    padding-left: 30px;
    padding-right: 30px;


}

