html, body {
    width: 100%;
    height:100%;
    color: #50556d;
    background-color: #F1F1EF;
}

form {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    color: #50556d;
    padding-top: 50px;
}

#to_member{

    width: 200px;
}

#label_to_member{
    margin-top: 10px;
}

input, textarea{
    margin-bottom: 5px;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    margin-top: 10%;
}

h2{
    font-family: Courier New;
    text-decoration: underline;
}

#send{
    background-color: rgb(4, 187, 4);
    color: white;
    width: 100px;
    margin-left: 13%;
}

#cancel{
    background-color: black;
    color: white;
    width: 100px;
    margin-left: 13%;
    margin-bottom: 50px;
}