{% extends 'footer_header_base.html' %}
{% load static %}

{% block title %}
    <title>Remove admin group</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
{% endblock %}

{% block header_msg %}
    <h2 id ="header_msg">Remove member from admin group</h2>
{% endblock %}

{% block mid %}

    <section id="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </section>
{% for member in object_list %}
<div class="table">
    <div class="head" id="h0">
        {% if member.user_pic is None or member.user_pic == '' %}
            N/A
        {% else %}
            <img src="{{ member.user_pic.url }}" alt="profile picture" width="80" height="90">
        {% endif %}
    </div>
    <div class="head" id="h1">
        Username
    </div>
    <div class="head" id="h2">
        First Name
    </div>
    <div class="head" id="h3">
        Last Name
    </div>
    <div class="head" id="h4">
        Email
    </div>
    <div class="head" id="h5">
        Phone #
    </div>
    <div class="head" id="h6">
        Current group
    </div>

    <div class="row" id="user_name">
        <span>
            <a href="nothing">
            {{ member.user.username }}
            </a>
        </span>
    </div>
    <div class="row" id="first_name">
        <span>
            {{ member.user.first_name }}
        </span>
    </div>
    <div class="row" id="last_name">
        <span>
            {{ member.user.last_name }}
        </span>
    </div>
    <div class="row" id="email">
        <span>
            {% if not member.user.email %}
            N/A
            {% else %}
            {{ member.user.email }}
            {% endif %}
        </span>
    </div>
    <div class="row" id="phone">
        <span class="cell td">
            {% if not member.phone_number %}
            N/A
            {% else %}
            {{ member.phone_number }}
            {% endif %}
        </span>
    </div>
    <div class="row" id="group">
        <span class="cell td">
            {% if member.user.groups.all.0.name == 'SuperUser' %}
            SuperUser
            {% elif member.user.groups.all.0.name == 'User Admin' %}
            User Admin
            {% else %}
            Item Admin
            {% endif %}
        </span>
    </div>
    <div id="btn_panel">
        <a href="{% url 'remove_adm' member.id %}">
            <button id="admin_remove">Revoke admin powers</button>
        </a>
        {% if member.user.groups.all.0.name == 'User Admin' %}
        <a href="{% url 'reassign_su' member.id %}">
            <button class="reassign_btn">Reassign to SuperUser</button>
        </a>
        <a href="{% url 'reassign_ia' member.id %}">
            <button class="reassign_btn">Reassign to Item Admin</button>
        </a>
        {% elif member.user.groups.all.0.name == 'Item Admin' %}
        <a href="{% url 'reassign_su' member.id %}">
            <button class="reassign_btn">Reassign to SuperUser</button>
        </a>
        <a href="{% url 'reassign_ua' member.id %}">
            <button class="reassign_btn">Reassign to User Admin</button>
        </a>
        {% else %}
        <a href="{% url 'reassign_ua' member.id %}">
            <button class="reassign_btn">Reassign to User Admin</button>
        </a>
        <a href="{% url 'reassign_ia' member.id %}">
            <button class="reassign_btn">Reassign to Item Admin</button>
        </a>
        {% endif %}
    </div>

</div><!-- table -->
{% endfor %}
{% endblock %}