{% extends 'footer_header_base.html' %}
{% load static %}

{% block title %}
    <title>Audit logs</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/audit.css' %}">
{% endblock %}

{% block header_msg %}
    <h2 id ="header_msg">Superuser audit logs</h2>
{% endblock %}

{% block mid %}

    <div class="table">
            <div class="head">Superuser</div>
            <div class="head">Subject</div>
            <div class="head">Action</div>
            <div class="head">Timestamp</div>
        {% for audit in object_list %}
            <div class="row actor">{{ audit.actor }}</div>
            <div class="row subject">{{ audit.subject }}</div>
            <div class="row action">{{ audit.action }}</div>
            <div class="row timestamp">{{ audit.timestamp }}</div>
        {% endfor %}
    </div>



{% endblock %}