{% extends 'footer_header_base.html' %}
{% load static %}

{% block title %}
    <title>Assign admin...</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
{% endblock %}

{% block header_msg %}
    <h2 id ="header_msg">Admin assignment page</h2>
{% endblock %}

{% block mid %}

    <section id="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </section>

<section class="table">
    <div class="row" id="row_header">
        <p class="cell td">
            Username
        </p>
        <span class="cell td">
            First Name
        </span>
        <span class="cell td">
            Last Name
        </span>
        <span class="cell td">
            Email
        </span>
        <span class="cell td">
            Phone #
        </span>
        <span class="cell td">
            Assign role
        </span>
    </div>
    {% for member in object_list %}
    <div class="row">
        <span class="cell td">
            {{ member.user.username }}
        </span>
        <span class="cell td">
            {{ member.user.first_name }}
        </span>
        <span class="cell td">
            {{ member.user.last_name }}
        </span>
        <span class="cell td">
            {% if not member.user.email %}
            N/A
            {% else %}
            {{ member.user.email }}
            {% endif %}
        </span>
        <span class="cell td">
            {% if not member.phone_number %}
            N/A
            {% else %}
            {{ member.phone_number }}
            {% endif %}
        </span>
        {% block button %}
        {% endblock %}
    </div> <!-- row -->
    {% endfor %}
</section><!-- table -->
{% endblock %}