{% extends 'footer_header_base.html' %}
{% load static %}

        {% block mid %}
<!--        <link rel="stylesheet" href="{% static 'su-home.css' %}">-->
        <section id="mid">
            <h3>-- REASSIGN {{ member.user }} TO GROUP {{ admin_type }}? --</h3>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" value="yea.">
            </form>
            <a href="{% url 'mem-list' %}">
                <button >nah.</button>
            </a>
        </section>

        {% endblock %}