{% extends 'footer_header_base.html' %}
{% load static %}

        {% block mid %}
<!--        <link rel="stylesheet" href="{% static 'su-home.css' %}">-->
        <section id="mid">
            <h3>-- REMOVE {{ admin_type }} FROM THE {{ member.user }}? GROUP? --</h3>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" value="yea.">
            </form>
            <a href="{% url 'admin-list' %}">
                <button >nah.</button>
            </a>
        </section>

        {% endblock %}