{% extends 'footer_header_base.html' %}
{% load static %}

        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/regis.css' %}">
        {% endblock %}

        {% block mid %}
<section class="form_sect">
        <form method="post">
            {% csrf_token %}
            {{ reg_form }}
            <input name="user_admin" type="submit" value="Create as User Admin" >
            <input name="item_admin" type="submit" value="Create as Item Admin" >
            <input name="superuser" type="submit" value="Create as SUPERUSER" >
        </form>
</section>

        {% endblock %}