{% extends 'footer_header_base.html' %}
{% load static %}

{% block title %}
    <title>Assign admin...</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
{% endblock %}

{% block header_msg %}
    <h2 id ="header_msg">Admin assignment page</h2>
{% endblock %}

{% block mid %}

    <section id="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </section>

{% for member in object_list %}
<section class="table">
    <div class="head" id="h0">
        {% if member.user_pic is None or member.user_pic == '' %}
            <img src="/media/noimage.png" alt="No Image">
        {% else %}
            <img src="{{ member.user_pic.url }}" alt="profile picture" width="80" height="90">
        {% endif %}
    </div>
    <div class="head" id="h1">
        Username
    </div>
    <div class="head" id="h2">
        First Name
    </div>
    <div class="head" id="h3">
        Last Name
    </div>
    <div class="head" id="h4">
        Email
    </div>
    <div class="head" id="h5">
        Phone #
    </div>
    <div class="head" id="h6">
        Current group
    </div>

    <div class="row" id="user_name">
        <span>
            <a href="nothing">
            {{ member.user.username }}
            </a>
        </span>
    </div>
    <div class="row" id="first_name">
        <span>
            {{ member.user.first_name }}
        </span>
    </div>
    <div class="row" id="last_name">
        <span>
            {{ member.user.last_name }}
        </span>
    </div>
    <div class="row" id="email">
        <span>
            {% if not member.user.email %}
            N/A
            {% else %}
            {{ member.user.email }}
            {% endif %}
        </span>
    </div>
    <div class="row" id="phone">
        <span class="cell td">
            {% if not member.phone_number %}
            N/A
            {% else %}
            {{ member.phone_number }}
            {% endif %}
        </span>
    </div>
    <div class="row" id="group">
        <span class="cell td">
            Member
        </span>
    </div>
        {% block button %}
        <span class="cell td">
            <a href="{% url 'assign_ia' member.id %}">
                <button id="item_admin">Item Admin</button>
            </a>
            <a href="{% url 'assign_ua' member.id %}">
                <button id="user_admin">User Admin</button>
            </a>
            <a href="{% url 'assign_su' member.id %}">
                <button id="su_admin">SuperUser</button>
            </a>
        </span>
        {% endblock %}
    </div> <!-- row -->

</section><!-- table -->
{% endfor %}
{% endblock %}