{% extends 'footer_header_base.html' %}
{% load static %}

        {% block mid %}
<!--        <link rel="stylesheet" href="{% static 'su-home.css' %}">-->
        <section id="mid">
                <a href="{% url 'audit-log' %}">View SuperUser audit log</a>
                <a href="{% url 'admin-list' %}">Modify existing admins</a>
                <a href="{% url 'new_admin' %}">Create admin user</a>
                <a href="{% url 'mem-list' %}">Assign admin role to a member</a>
                <a href="{% url 'member_manager' %}">Manage website members</a>
        </section>

        {% endblock %}